<script type="text/javascript"  src="${(request.contextPath)!}/static/a/js/jquery/jquery-2.2.2.min.js"></script>
   <script type="text/javascript"  src="${(request.contextPath)!}/static/a/js/jquery/jquery.nicescroll.js"></script>
   <script type="text/javascript" src="${(request.contextPath)!}/static/a/js/jquery/jquery.slimscroll.min.js"></script>
   <script type="text/javascript"  src="${(request.contextPath)!}/static/a/js/bootstrap/bootstrap.min.js"></script>
   <script type="text/javascript" src="${(request.contextPath)!}/static/a/js/others/tdrag.min.js"></script>
   <script type="text/javascript"  src="${(request.contextPath)!}/static/a/js/others/common-scripts.js"></script>
   <script type="text/javascript" src="${(request.contextPath)!}/static/a/js/local/yt.js"></script>
   <!--[if lt IE 9]>
   <script src="http://www.js-css.cn/js/excanvas.js"></script>
   <script src="http://www.js-css.cn/js/respond.js"></script>
   <![endif]-->
   