<meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="${(request.contextPath)!}/static/a/css/bootstrap.min.css" rel="stylesheet" />
   <link href="${(request.contextPath)!}/static/a/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="${(request.contextPath)!}/static/a/css/font-awesome.css" rel="stylesheet" />
   <link href="${(request.contextPath)!}/static/a/css/style.css" rel="stylesheet" />
   <link href="${(request.contextPath)!}/static/a/css/style-responsive.css" rel="stylesheet" />
   <link href="${(request.contextPath)!}/static/a/css/style-default.css" rel="stylesheet" id="style_color" />
   <link href="${(request.contextPath)!}/static/a/css/toastr.css" rel="stylesheet" type="text/css" />
   <link href="${(request.contextPath)!}/static/a/css/local/yt.css" rel="stylesheet" />
   