<div class="chart-container" style="position: fixed; bottom: 40px; right: 0;">
      <div class="widget blue" style="margin-bottom:0;">
           <div class="widget-title">
               <h4><i class="icon-comments-alt"></i>聊天</h4>
				<span class="tools">
					<a href="javascript:;" class="icon-chevron-down"></a>
					<a href="javascript:;" class="icon-remove"></a>
				</span>
           </div>
           <div class="widget-body" style="display: block;">
           		<div class="row-fluid">
	           		<div class="span10">
			           <div class="timeline-messages" style="height: 400px; overflow: auto;">
			               <div class="msg-time-chat">
			                   <a class="message-img" href="#"><img alt="" src="http://52nan3.com:80/upload/image/avatar/default.gif" class="avatar"></a>
			                   <div class="message-body msg-in">
			                       <span class="arrow"></span>
			                       <div class="text">
			                           <p class="attribution"><a href="#">Jhon Doe</a> at 1:55pm, 13th April 2013</p>
			                           <p>Hello, How are you brother?</p>
			                       </div>
			                   </div>
			               </div>
			               <div class="msg-time-chat">
			                   <a class="message-img" href="#"><img alt="" src="http://52nan3.com:80/upload/image/avatar/default.gif" class="avatar"></a>
			                   <div class="message-body msg-out">
			                       <span class="arrow"></span>
			                       <div class="text">
			                           <p class="attribution"> <a href="#">Jonathan Smith</a> at 2:01pm, 13th April 2013</p>
			                           <p>I'm Fine, Thank you. What about you? How is going on?</p>
			                       </div>
			                   </div>
			               </div>
			               <div class="msg-time-chat">
			                   <a class="message-img" href="#"><img alt="" src="http://52nan3.com:80/upload/image/avatar/default.gif" class="avatar"></a>
			                   <div class="message-body msg-in">
			                       <span class="arrow"></span>
			                       <div class="text">
			                           <p class="attribution"><a href="#">Jhon Doe</a> at 2:03pm, 13th April 2013</p>
			                           <p>Yeah I'm fine too. Everything is going fine here.</p>
			                       </div>
			                   </div>
			               </div>
			               <div class="msg-time-chat">
			                   <a class="message-img" href="#"><img alt="" src="http://52nan3.com:80/upload/image/avatar/default.gif" class="avatar"></a>
			                   <div class="message-body msg-out">
			                       <span class="arrow"></span>
			                       <div class="text">
			                           <p class="attribution"><a href="#">Jonathan Smith</a> at 2:05pm, 13th April 2013</p>
			                           <p>well good to know that. anyway how much time you need to done your task?</p>
			                       </div>
			                   </div>
			               </div>
			           </div>
			       </div>
			       <div class="span2">
			       		<ul class="unstyled online-users">
			       			<li data-client="admin">杨腾</li>
			       			<li data-client="test">张三</li>
			       		</ul>
			       </div>
			   </div>
			   <div class="row-fluid">
			   		<form action="" onsubmit="return commit();">
				       <div class="span12">
				           <div class="chat-form">
				               <div class="input-cont">
				                   <input type="text" id="commit-content" placeholder="Type a message here...">
				               </div>
				               <div class="btn-cont">
				                   <button  type="button" onclick="commit();" class="btn btn-primary">发送</button>
				                   <a href="javascript:;" class="btn btn-danger">关闭</a>
				               </div>
				           </div>
				       </div>
			        </form>
		       </div>
	       </div>
	   </div>
   </div>